bootstrap-admin==0.3.6
Django<1.10
django-appconf==1.0.2
django-bootstrap3==7.0.1
django-compressor==2.0
psycopg2==2.6.1
simplejson==3.8.2
django-datetime-widget
django-widget-tweaks
git+https://github.com/ftarnell/django-quicky.git
