{# vim:set sw=2 ts=2 et: #}
{% extends "vaper/base.html" %}
{% load bootstrap3 %}

{% block title %}
Edit user
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>Administration</li>
  <li><a href='{% url 'vaper:admin/user/list' %}'>Users</a></li>
  <li class='active'>Edit <strong>{{ form.instance.username }}</strong></li>
{% endblock %}

{% block content %}
  <form action='{% url 'vaper:admin/user/edit' id=form.instance.id %}' method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}

    <button type='submit' class='btn btn-primary'>
      {% bootstrap_icon 'save' %} Save
    </button>
    
    <a href='{% url 'vaper:admin/user/password' id=form.instance.id %}'>
      <button type='button' class='btn btn-default'>
        Change password...
      </button>
    </a>

  </form>
{% endblock %}
