{# vim:set sw=2 ts=2 et: #}
{% extends "vaper/base.html" %}
{% load bootstrap3 %}

{% block title %}
Change password
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href='{% url 'vaper:admin/user/list' %}'>Users</a></li>
  <li><a href='{% url 'vaper:admin/user/edit' id=instance.id %}'>{{ instance.username }}</a></li>
  <li class='active'>Change password</li>
{% endblock %}

{% block content %}
<form action='{% url 'vaper:admin/user/password' id=instance.id %}' method='post'>
{% csrf_token %}
{% bootstrap_form form %}

<button type='submit' class='btn btn-primary'>
  {% bootstrap_icon 'save' %} Save changes
</button>

</form>
{% endblock %}
