{# vim:set sw=2 ts=2 et: #}
{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Home{% endblock %} | Vaper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% compress css %}
    <link rel='stylesheet' href="{% static 'vaper/css/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{% static 'vaper/css/bootstrap-theme.min.css' %}">
    <link rel='stylesheet' href="{% static 'vaper/css/jquery-ui.min.css' %}">
    <link rel='stylesheet' href="{% static 'vaper/css/jquery-ui.theme.min.css' %}">
    <link rel='stylesheet' href="{% static 'vaper/css/main.css' %}">
  {% endcompress %}

  <!--[if lt IE 9]>
    {% compress js %}
    <script src="{% static 'vaper/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'vaper/js/respond.min.js' %}"></script>
    {% endcompress %}
  <![endif]-->

  {% compress js %}
  <script src="{% static 'admin/js/jquery.js' %}"></script>
  <script src="{% static 'vaper/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vaper/js/jquery-ui.min.js' %}"></script>
  {% endcompress %}

  {% block head %}{% endblock %}
</head>

<body>

<!-- navbar -->
<div class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'vaper:index' %}">Vaper</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class='nav navbar-nav'>
        {% if user.is_superuser %}
          <li><a href="{% url 'admin:index' %}">Administration</a></li>
          <li><a href="{% url 'vaper:stock' %}">Stock</a></li>
        {% endif %}

      </ul>

      {% if user.is_authenticated %}
        <ul class='nav navbar-nav navbar-right'>
          <li class="divider"></li>
          <li><a href="{% url 'vaper:logout' %}">Log out</a></li>
        </ul>
      {% endif %}
    </div>
  </div>
</div>

<!-- content container -->
<div class='container'>
  <div class="content">
    <ul class="breadcrumb">
      {% if user.is_authenticated %}
        {% block breadcrumbs %}
          <li class="active"><a href="{% url 'vaper:index' %}">Home</a></li>
        {% endblock %}
      {% else %}
        <li class="active">Log in</li>
      {% endif %}
    </ul>

{% block content %}
{% endblock %}
  </div>
</div>
</body>
</html>
