{% extends "vaper/base.html" %}
{% load bootstrap3 %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>Flavour</li>
  <li>{{ flavour.name }}</li>
{% endblock %}

{% block content %}
<h1>
  Flavour: {{ flavour.name }}
  {% if perms.flavour.change_flavour %}
    <a href="{% url 'admin:vaper_flavour_change' flavour.id %}">
      <button class='btn btn-default'>
        {% bootstrap_icon 'edit' %}
      </button>
    </a>
  {% endif %}
  {% if perms.flavour.delete_flavour %}
    <a href="{% url 'admin:vaper_flavour_delete' flavour.id %}">
      <button class='btn btn-default'>
        {% bootstrap_icon 'trash' %}
      </button>
    </a>
  {% endif %}
</h1>

<p>
  <strong>Manufacturer</strong>: {{ flavour.manufacturer }}
</p>

<h2>Recipes</h2>

<ul>
{% for recipe in recipes %}
<li><a href="{% url 'vaper:recipe' recipe.id %}">{{ recipe }}</a></li>
{% endfor %}
</ul>

{% endblock %}
