{# vim:set sw=2 ts=2 et: #}
{% extends "vaper/base.html" %}
{% load bootstrap3 %}

{% block content %}
<p>
Welcome to Vaper.  <strong>This is a private site</strong>.  Do not share your 
access details with anyone else.
</p>

<h1>
  Recipes
  {% if perms.recipe.add_recipe %}
    <button class='btn btn-primary vui-dialog-open vui-dialog-button' data-vui-dialog='index-dialog-add-recipe'>
      {% bootstrap_icon 'plus' %}
    </button>
  {% endif %}
</h1>

{% if recipes %}
  <ul class='recipelist'>
    {% for recipe in recipes %}
      <li><a href="{% url 'vaper:recipe' id=recipe.id %}">{{ recipe.name }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>Sorry, no recipes have been added yet.</p>
{% endif %}

<h1>
  Flavours
  {% if perms.flavour.add_flavour %}
    <button class='btn btn-primary vui-dialog-button' data-vui-dialog='index-dialog-add-flavour'>
      {% bootstrap_icon 'plus' %}
    </button>
  {% endif %}
</h1>

{% if manufacturers %}
    {% for manufacturer in manufacturers %}
      {% if manufacturer.flavours.count %}
        <div class='manufacturerlist'>
          <h4>{{ manufacturer.name }}</h4>
          <ul class='flavourlist'>
            {% for flavour in manufacturer.flavours.all %}
              <li><a href="{% url 'vaper:flavour/view' id=flavour.id %}">{{ flavour.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
{% else %}
  <p>Sorry, no flavours have been added yet.</p>
{% endif %}

<div  class='vui-dialog dialog-add-flavour'
      id='index-dialog-add-flavour'
      title='Add flavour'
      data-uri="{% url 'vaper:ui/flavour/add' %}" 
      data-vui-close='reload'
      style='display: none'>
</div>

<div  class='vui-dialog dialog-add-recipe'
      id='index-dialog-add-recipe'
      title='Add recipe'
      data-uri="{% url 'vaper:ui/recipe/add' %}" 
      style='display: none'>
</div>

{% endblock %}
