{# vim:set sw=2 ts=2 et: #}
{% extends "vaper/base.html" %}
{% load bootstrap3 %}

{% block content %}
<p>
Welcome to Vaper.  <strong>This is a private site</strong>.  Do not share your 
access details with anyone else.
</p>

<h2>
  Recipes
  {% if perms.recipe.add_recipe %}
    <a href="#" class='vui-dialog-button'>

      <div  class='vui-dialog dialog-add-recipe'
            title='Add recipe'
            data-uri="{% url 'vaper:ui/recipe/add' %}" 
            style='display: none'>
      </div>

      <button class='btn btn-primary vui-dialog-open'>
        {% bootstrap_icon 'plus' %}
      </button>
    </a>
  {% endif %}
</h2>

{% if recipes %}
  <ul>
    {% for recipe in recipes %}
      <li><a href="{% url 'vaper:recipe' id=recipe.id %}">{{ recipe.name }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>Sorry, no recipes have been added yet.</p>
{% endif %}

<h2>
  Flavours
  {% if perms.flavour.add_flavour %}
    <a href="#" class='vui-dialog-button'>

      <div  class='vui-dialog dialog-add-flavour'
            title='Add flavour'
            data-uri="{% url 'vaper:ui/flavour/add' %}" 
            style='display: none'>
      </div>

      <button class='btn btn-primary vui-dialog-open'>
        {% bootstrap_icon 'plus' %}
      </button>
    </a>
  {% endif %}
</h2>

{% if flavours %}
  <ul>
    {% for flavour in flavours %}
      <li><a href="{% url 'vaper:flavour/view' id=flavour.id %}">{{ flavour.name }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>Sorry, no flavours have been added yet.</p>
{% endif %}

{% endblock %}
