{# vim:set sw=2 ts=2 et: #}
{% extends "vaper/base.html" %}
{% load staticfiles %}
{% load compress %}
{% load bootstrap3 %}
{% load js %}

{% block head %}

  {% compress js %}
    <script src="{% static 'vaper/js/recipe.js' %}"></script>
  {% endcompress %}

  {% compress css %}
    <link rel='stylesheet' href="{% static 'vaper/css/recipe.css' %}">
  {% endcompress %}

  <script type='text/javascript'>
    document.flavours = [
{% for flavour in recipe.flavour_instances.all %}
      {
        'id': {{ flavour.flavour.id|js }},
        'name': {{ flavour.flavour.name|js }},
        'manufacturer': {{ flavour.flavour.manufacturer.name|js }},
        'strength': {{ flavour.strength|js }},
        'str': {{ flavour.flavour.name|js }} + " (" + {{ flavour.flavour.manufacturer.name|js }} + ")",
      },
{% endfor %}
    ];
  </script>
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>Recipes</li>
  <li class='active'>{{ recipe.name }}</li>
{% endblock %}

{% block content %}
<div class='row'>
  <div class='col-md-6 col-sm-12'>
    <h1>
      {{ recipe.name }} 
      {% if user.is_staff %}
      <!--
        <a href="#">
          <button id='mix-button' class='btn btn-primary' title='Mix'>
            {% bootstrap_icon 'filter' %}
          </button></a>
      -->
      {% endif %}

      {% if perms.recipe.change_recipe %}
        <button
          class='btn btn-success vui-dialog-open vui-dialog-button' 
          data-vui-dialog='index-dialog-edit-recipe'
          data-recipe-id='{{ recipe.id }}'>
          {% bootstrap_icon 'edit' %}
        </button>
      {% endif %}

      {% if perms.recipe.delete_recipe %}
        <button
          class='btn btn-danger vui-dialog-open vui-dialog-button' 
          data-vui-dialog='index-dialog-delete-recipe'
          data-recipe-id='{{ recipe.id }}'>
          {% bootstrap_icon 'trash' %}
        </button>
      {% endif %}
    </h1>

    <h2>Description</h2>

    <p>
      {% if recipe.description %}
        {{ recipe.description }}
      {% else %}
        There's no description for this recipe, sorry!  It's probably tasty, though.
      {% endif %}
    </p>

    <h2>Ingredients</h2>

    <ul>
      {% for flavour in recipe.flavour_instances.all %}
        <li>
          <a href="{% url 'vaper:flavour/view' flavour.flavour.id %}">{{ flavour.flavour }}</a>{% if user.is_staff %},
            {{ flavour.strength }}%
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

  {% if user.is_staff %}
  <!--
    This is the mixing interface, which is displayed in a jquery-ui dialog.
  -->
  <div id="mix-dialog" class='col-md-6 col-sm-12'>
    <h2 class='mix-dialog-title'>Mix this recipe</h2>

    <div class='text-center'>
      <h3 class='mix-dialog-header'>Target ratio</h3>

      <div class='vg-slider'>
        <div id='vg-slider'></div>
      </div>

      <h3 class='mix-dialog-header'>Nicotine</h3>

      <div>
        <div style='width: 23%; float: left'>
          <h4 class='mix-dialog-label'>Base</h4>
          <div class='btn-group' id='nic-pgvg-buttons'>
            <button type='button' class='btn btn-primary' data-value='0'>PG</button>
            <button type='button' class='btn btn-default' data-value='1'>VG</button>
          </div>
        </div>

        <div style='width: 53%; float: left'>
          <h4 class='mix-dialog-label'>Base strength</h4>

          <div class='btn-group' id='nic-base-buttons'>
            <button type='button' class='btn btn-primary' data-value='0'>0 mg</button>
            <button type='button' class='btn btn-default' data-value='50'>50 mg</button>
            <button type='button' class='btn btn-default' data-value='72'>72 mg</button>
          </div>
        </div>

        <div style='width: 23%; float: left'>
          <h4 class='mix-dialog-label'>Target strength</h4>

          <div class='nic-target'>
              <input id='nic-target-value' type='number' min='0' max='100' value='0' dir='rtl'> mg/ml
          </div>
        </div>
      </div>

      <div class='clearfix'></div>

      <h3 class='mix-dialog-header'>Amount to make</h3>

      <div class='btn-group' id='amount-buttons'>
        <button type='button' class='btn btn-primary' data-value='10'>10 ml</button>
        <button type='button' class='btn btn-default' data-value='30'>30 ml</button>
        <button type='button' class='btn btn-default' data-value='60'>60 ml</button>
        <button type='button' class='btn btn-default' data-value='90'>90 ml</button>
        <button type='button' class='btn btn-default' data-value='120'>120 ml</button>
      </div>

      <h3 class='mix-dialog-header'>Recipe</h3>

      <table class='table' id='recipe-table'>
        <tr id='mix-nicotine'>
          <th>Nicotine:</th>
          <td>0 ml</td>
        </tr>
        <tr id='mix-vg'>
          <th>VG:</th>
          <td>0 ml</td>
        </tr>
        <tr id='mix-pg'>
          <th>PG:</th>
          <td>0 ml</td>
        </tr>
  {% for flavour in recipe.flavour_instances.all %}
        <tr id='mix-flavour-{{ flavour.flavour.id }}'>
          <th>{{ flavour.flavour.name }} ({{ flavour.flavour.manufacturer }})</td>
          <td>0 ml</td>
        </tr>
  {% endfor %}
        <tr id='mix-ratio'>
          <th>True ratio:</th>
          <td></td>
        </tr>
      </table>

      <div class='text-right'>
        <button id='mix-update-stock' class='btn btn-success'>
          Update stock
        </button>
      </div>
    </div>
  </div>
</div>

<!-- UI for updating stock -->
<div id='stock-dialog' title='Update stock?' style='display: none'>
  <p>Are you sure you want to update the stock for this recipe?</p>
</div>

<div id='updating-dialog' title='Stock update' style='display: none'>
  <p><strong>Please wait.</strong></p>
</div>

{% endif %}

<div  class='vui-dialog dialog-edit-recipe'
      id='index-dialog-edit-recipe'
      title='Edit recipe'
      data-uri="{% url 'vaper:ui/recipe/edit' recipe.id %}" 
      data-vui-close='reload'
      style='display: none'>
</div>

<div  class='vui-dialog dialog-delete-recipe'
      id='index-dialog-delete-recipe'
      title='Delete recipe'
      data-uri="{% url 'vaper:ui/recipe/delete' recipe.id %}" 
      data-vui-close='home'
      style='display: none'>
</div>

{% endblock %}
