{# vim:set sw=2 ts=2 et: #}
{% extends "vaper/base.html" %}
{% load staticfiles %}
{% load compress %}
{% load bootstrap3 %}
{% load js %}

{% block head %}

  {% compress js %}
    <script src="{% static 'vaper/js/recipe.js' %}"></script>
  {% endcompress %}

  {% compress css %}
    <link rel='stylesheet' href="{% static 'vaper/css/recipe.css' %}">
  {% endcompress %}

  <script type='text/javascript'>
    document.flavours = [
{% for flavour in recipe.flavour_instances.all %}
      {
        'id': {{ flavour.flavour.id|js }},
        'name': {{ flavour.flavour.name|js }},
        'manufacturer': {{ flavour.flavour.manufacturer.name|js }},
        'strength': {{ flavour.strength|js }},
        'str': {{ flavour.flavour.name|js }} + " (" + {{ flavour.flavour.manufacturer.name|js }} + ")",
      },
{% endfor %}
    ];
  </script>
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>Recipes</li>
  <li>{{ recipe.name }}</li>
{% endblock %}

{% block content %}
<h1>
  {{ recipe.name }} 
  {% if user.is_staff %}
    <a href="#">
      <button id='mix-button' class='btn btn-primary' title='Mix'>
        {% bootstrap_icon 'filter' %}
      </button></a>
  {% endif %}

  {% if perms.recipe.change_recipe %}
    <button
      class='btn btn-success vui-dialog-open vui-dialog-button' 
      data-vui-dialog='index-dialog-edit-recipe'
      data-recipe-id='{{ recipe.id }}'>
      {% bootstrap_icon 'edit' %}
    </button>
  {% endif %}

  {% if perms.recipe.delete_recipe %}
    <button
      class='btn btn-danger vui-dialog-open vui-dialog-button' 
      data-vui-dialog='index-dialog-delete-recipe'
      data-recipe-id='{{ recipe.id }}'>
      {% bootstrap_icon 'trash' %}
    </button>
  {% endif %}

</h1>

<h3>Description</h3>

<p>
  {% if recipe.description %}
    {{ recipe.description }}
  {% else %}
    There's no description for this recipe, sorry!  It's probably tasty, though.
  {% endif %}
</p>

<h3>Ingredients</h3>

<ul>
  {% for flavour in recipe.flavour_instances.all %}
    <li>
      <a href="{% url 'vaper:flavour/view' flavour.flavour.id %}">{{ flavour.flavour }}</a>{% if user.is_staff %},
        {{ flavour.strength }}%
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% if user.is_staff %}
<!--
  This is the mixing interface, which is displayed in a jquery-ui dialog.
-->
<div id="mix-dialog" title="Mix {{ recipe }}" style='display: none'>
  <div class='text-center'>
    <div class='mix-dialog-label'>Target ratio</div>

    <div class='vg-slider'>
      <div id='vg-slider'></div>
    </div>

    <div class='mix-dialog-label'>Nicotine</div>

    <div>
      <div style='width: 33%; float: left'>
        <div class='mix-dialog-label'>Base</div>
        <div class='btn-group' id='nic-pgvg-buttons'>
          <button type='button' class='btn btn-primary' data-value='0'>PG</button>
          <button type='button' class='btn btn-default' data-value='1'>VG</button>
        </div>
      </div>

      <div style='width: 33%; float: left'>
        <div class='mix-dialog-label'>Base strength</div>

        <div class='btn-group' id='nic-base-buttons'>
          <button type='button' class='btn btn-primary' data-value='0'>0 mg</button>
          <button type='button' class='btn btn-default' data-value='50'>50 mg</button>
          <button type='button' class='btn btn-default' data-value='72'>72 mg</button>
        </div>
      </div>

      <div style='width: 33%; float: left'>
      </div>

      <div style='width: 33%; float: left'>
        <div class='mix-dialog-label'>Target strength</div>

        <div class='nic-target'>
          <input id='nic-target-value' type='number' min='0' max='100' value='0' dir='rtl'> mg/ml
        </div>
      </div>
    </div>

    <div class='clearfix'></div>

    <div class='mix-dialog-label'>Amount to make</div>

    <div class='btn-group' id='amount-buttons'>
      <button type='button' class='btn btn-primary' data-value='10'>10 ml</button>
      <button type='button' class='btn btn-default' data-value='30'>30 ml</button>
      <button type='button' class='btn btn-default' data-value='60'>60 ml</button>
      <button type='button' class='btn btn-default' data-value='90'>90 ml</button>
      <button type='button' class='btn btn-default' data-value='120'>120 ml</button>
    </div>

    <hr>

    <table class='table' id='recipe-table'>
      <caption>Recipe</caption>
      <tr id='mix-nicotine'>
        <th>Nicotine:</th>
        <td>0 ml</td>
      </tr>
      <tr id='mix-vg'>
        <th>VG:</th>
        <td>0 ml</td>
      </tr>
      <tr id='mix-pg'>
        <th>PG:</th>
        <td>0 ml</td>
      </tr>
{% for flavour in recipe.flavour_instances.all %}
      <tr id='mix-flavour-{{ flavour.flavour.id }}'>
        <th>{{ flavour.flavour.name }} ({{ flavour.flavour.manufacturer }})</td>
        <td>0 ml</td>
      </tr>
{% endfor %}
      <tr id='mix-ratio'>
        <th>True ratio:</th>
        <td></td>
      </tr>
    </table>
  </div>
</div>

<!-- UI for updating stock -->
<div id='stock-dialog' title='Update stock?' style='display: none'>
  <p>Are you sure you want to update the stock for this recipe?</p>
</div>

<div id='updating-dialog' title='Stock update' style='display: none'>
  <p><strong>Please wait.</strong></p>
</div>

{% endif %}

<div  class='vui-dialog dialog-edit-recipe'
      id='index-dialog-edit-recipe'
      title='Edit recipe'
      data-uri="{% url 'vaper:ui/recipe/edit' recipe.id %}" 
      data-vui-close='reload'
      style='display: none'>
</div>

<div  class='vui-dialog dialog-delete-recipe'
      id='index-dialog-delete-recipe'
      title='Delete recipe'
      data-uri="{% url 'vaper:ui/recipe/delete' recipe.id %}" 
      data-vui-close='home'
      style='display: none'>
</div>

{% endblock %}
