/* vim:set sw=2 ts=2 et: */

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src:  url('../fonts/opensans-regular.woff2') format("woff2"),
        url('../fonts/opensans-regular.woff') format("woff"),
        url('../fonts/opensans-regular.ttf') format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src:  url('../fonts/opensans-light.woff2') format("woff2"),
        url('../fonts/opensans-light.woff') format("woff"),
        url('../fonts/opensans-light.ttf') format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src:  url('../fonts/opensans-bold.woff2') format("woff2"),
        url('../fonts/opensans-bold.woff') format("woff"),
        url('../fonts/opensans-bold.ttf') format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: normal;
  src:  url('../fonts/opensans-extrabold.woff2') format("woff2"),
        url('../fonts/opensans-extrabold.woff') format("woff"),
        url('../fonts/opensans-extrabold.ttf') format("truetype");
}

body {
  padding-top: 6em;
}

body, .ui-widget {
  font-family: "Open Sans";
}

.navbar {
  z-index: 1;
}

table caption {
  text-align: center;
  font-weight: bold;
} 

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

span.recipe-new-flavour {
  color: #9999ff;
  cursor: pointer;
}

.footer {
	border-top: solid 1px #999;
	background-color: #eee;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

h2 {
  border-bottom: dashed 1px #aaa;
  font-size: 115%;
}

ul#recipelist,
ul#flavourlist {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
