/* vim:set sw=2 ts=4 et: */

.navbar-brand img {
  max-width: 150px;
  width: 75%;
  height: auto;
}

.contentpane {
  margin-top: -20px;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

  .sidebar-nav .navbar ul {
    float: none;
  }

  .sidebar-nav .navbar ul:not {
    display: block;
  }

  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .sidebar-nav .navbar li.divider {
    height: 2px;
    background-color: #555;
  }

  .navbar-header {
    display: block;
    float: none;
  }

  .contentpane {
    margin-top: 0px;
  }
}

body, .container-fluid {
  padding: 0;
}

div.maintitle {
//  background-color: #82d0d0;  /* light tuna */
  background-color: #fb5a40; /* salmon */
  color: white;
  padding-left: 0;
}

div.maintitle h1 {
  padding-left: 2em;
}

.container-fluid {
  min-height: 100%;
}

.menu {
  padding-right: 0;
}

div.content {
  padding: 2em 2em 2em 2em;
}

.menu-footer {
  margin-top: auto;
}
