/* vim:set sw=4 ts=4 et: */

/*
 * General slider styling.
 */

.slider-label {
    font-weight: bold;
    top: 0.5em;
    height: 1em;
}

.ui-slider-horizontal {
    height: 2.9em;
}

.ui-slider .ui-slider-handle {
    height: 3.3em;
    width: 1em;
}

/*
 * Recipe mixing dialog.
 */

div#mix-dialog {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.mix-dialog-label {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
}

.mix-dialog-header {
    margin: 1em 0 1em 0;
    padding: 3px 0 3px 0;
    border-bottom: dashed 1px #aaa;
    background-color: #f4f4f4;
    font-weight: bold;
    font-size: 125%;
    text-align: center;
}

#recipe-table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#recipe-table thead {
    font-weight: bold;
    font-size: 125%;
    text-align: center;
}

#recipe-table tr th {
    text-align: right;
}

#recipe-table tr td {
    text-align: left;
}

/*
 * PG/VG ratio slider.
 */

.ui-slider-horizontal {
    margin: 0 1em 0 1em;
    font-weight: 400;
}

.vg-slider .ui-slider-horizontal {
    background-color: #50e3c2;
}

.vg-slider .ui-slider-range {
    background-color: #b8e986;
}

.ratio-label {
    font-size: 200%;
    font-weight: regular;
    top: 0em;
    height: 1em;
    color: white;
}

#pg-label {
    position: absolute;
    right: 0.5em;
    z-index: 3;
}

#vg-label {
    position: absolute;
    left: 0.5em;
    z-index: 3;
}

/*
 * Nicotine strength.
 */

.nic-target input {
    width: 4em;
}

#nic-base-slider-container {
    background-color: #ddd;
    width: 7em;
    height: 2.9em;
    position: absolute;
}

#nic-base-slider {
    width: 4em;
    height: 2.9em;
    background-color: #ddd;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
    font-weight: 800;
}

#nic-base-slider .ui-slider-handle {
    width: 3.6em;
    height: 2.7em;
    top: 0.1em;
    margin-left: 0.1em;
    background-color: #b8e986;
    border-radius: 5px;
}

#nic-pg-label {
    position: absolute;
    right: 0.2em;
    z-index: 3;
}

#nic-vg-label {
    position: absolute;
    left: 0.2em;
    z-index: 3;
}
