{# vim:set sw=2 ts=2 et: #}

{% load bootstrap3 %}
{% load compress %}
{% load staticfiles %}

<div  id='dialog-edit-recipe'
      class='vui-form'
      data-uri='{% url 'vaper:api/recipe/edit' %}'
      data-on-submit='reload'
      data-csrftoken='{{ csrf_token }}'>

  <form class='form-horizontal'>
    {% if recipe.id %}
    <input type='hidden' name='id' value='{{ recipe.id }}'>
    {% endif %}

    <!--
      Name
      -->
    <div class='form-group' id='vui-form-group-name'>
      <label class='control-label col-sm-2' for='id_name'>Name</label>
      <div class='col-sm-10 vui-form-input'>
        <input
          class='form-control'
          type='text'
          id='id_name'
          name='name'
          required="required"
          value="{{ recipe.name }}"
          maxlength=64>
        <ul class='help-block'></ul>
      </div>
    </div>

    <!--
      Description
      -->
    <div class='form-group' id='vui-form-group-description'>
      <label class='control-label col-sm-2' for='id_description'>Description</label>
      <div class='col-sm-10 vui-form-input'>
        <textarea
          class='form-control'
          id='id_description'
          name='description'
          cols='79'
          rows='4'>{{ recipe.description }}</textarea>
        <ul class='help-block'></ul>
      </div>
    </div>

    <!--
      Flavours - added dynamically.
    -->
    <div class='col-sm-12 text-center'>
      <h4>Flavours</h4>
    </div>

    <div class='col-sm-12' id='recipe-flavour-group'>
    </div>

    <div class='col-sm-6 text-left'>
      <div class='btn-group'>
        <button type='button' class='btn btn-default' id='recipe-flavour-add-button'>
          {% bootstrap_icon 'plus' %} Add flavour
        </button>

        <button
          type='button'
          class='btn btn-default vui-dialog-button'
          data-vui-dialog='recipe-dialog-add-flavour'>
          {% bootstrap_icon 'plus' %} New flavour&hellip;
        </button>
      </div>
    </div>

    <div class='col-sm-6 text-right'>
      <button type='submit' class='btn btn-primary'>{% bootstrap_icon 'ok' %} Save</button>
    </div>
  </form>

  <div  class='vui-dialog dialog-add-flavour'
        id='recipe-dialog-add-flavour'
        title='Add flavour'
        data-uri="{% url 'vaper:ui/flavour/add' %}" 
        style='display: none'>
  </div>
</div>
