{# vim:set sw=2 ts=2 et: #}

{% load bootstrap3 %}
{% load compress %}
{% load staticfiles %}

<div  id='dialog-edit-recipe'
      class='vui-form'
      data-uri='{% url 'vaper:api/recipe/edit' %}'
      data-on-submit='reload'
      data-csrftoken='{{ csrf_token }}'>

  <form class='form-horizontal'>
    {% if recipe.id %}
    <input type='hidden' name='id' value='{{ recipe.id }}'>
    {% endif %}

    <!--
      Name
      -->
    <div class='form-group' id='vui-form-group-name'>
      <label class='control-label col-sm-2' for='id_name'>Name</label>
      <div class='col-sm-10 vui-form-input'>
        <input
          class='form-control'
          type='text'
          id='id_name'
          name='name'
          required="required"
          value="{{ recipe.name }}"
          maxlength=64>
        <ul class='help-block'></ul>
      </div>
    </div>

    <!--
      Description
      -->
    <div class='form-group' id='vui-form-group-description'>
      <label class='control-label col-sm-2' for='id_description'>Description</label>
      <div class='col-sm-10 vui-form-input'>
        <textarea
          class='form-control'
          id='id_description'
          name='description'
          cols='79'
          rows='4'>{{ recipe.description }}</textarea>
        <ul class='help-block'></ul>
      </div>
    </div>

    <div class='form-group'>
      <div class='col-sm-offset-2 col-sm-10'>
        <button type='submit' class='btn btn-primary'>{% bootstrap_icon 'ok' %} Save</button>
      </div>
    </div>
  </form>
</div>
